@{
    ViewBag.Title = "Home Page";
}

@*<p> @Html.Label("Enter First Number",new {@class = "from-control"}) &nbsp; @Html.TextBox("First", "", new {@class ="form-control"})</p>
<p> @Html.Label("Enter Second Number", new { @class = "from-control" }) &nbsp; @Html.TextBox("Second", "" , new {@class = "form-control"})</p>*@

<input type="submit" class="form-control" onclick="showing()" />
    
